/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

:root {
    --primary-color: #1B3A2F;
    --bg-color: #F5F5DC;
    --text-color: #2C2C2C;
    --white: #FFFFFF;
    --shadow: rgba(27, 58, 47, 0.1);
}

/*=== apply a natural box layout model to all elements ===*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*=== BODY ===*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 0;
    max-width: 400px;
}


/*=== HEADER ===*/
header {
    padding: .5rem;
    background-color: #ddd;
    margin: 0 0 1rem 0;
    background-color: var(--primary-color);
}

header h1 {
    color: var(--white);
    font-size: 1.5rem;
    transition: 1s;
}


main {
    margin: auto;
    padding: 1rem;
    background-color: var(--bg-color);
    border-radius: 6px;
}

/*=== FORM STYLING ===*/
.wf1 fieldset {
    margin: 2rem 0;
    border: solid 1px #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}


.wf1 label {
    display: block;
    font-weight: 700;
    font-size: .9rem;
}


.wf1 div {
    padding-top: 1rem;
    font-weight: 700;
    font-size: .9rem;
}

.wf1 .spaced {
    padding-top: 1rem;
    font-weight: 700;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select,
.wf1 textarea {
    display: block;
    font-weight: 700;
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
}

.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#4a7868, #1B3A2F);
    color: var(--white);
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 1px #999;
}

.wf1 input:required,
.wf1 select:required {
    border-bottom: solid 8px red;
}

.wf1 input:required:valid,
.wf1 select:valid {
    border-bottom: solid 8px green;
}

.wf1 span {
    color: var(--text-color);
}

/* CHECKBOX*/
.checkbox-group {
    display: flex;
    align-items: baseline;
    gap: 8px;
    /* margin-bottom: 8px;
    padding-top: 0; */
}

.checkbox-group label {
    /* display: inline; */
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
}

.wf1 div.checkbox-group {
    padding-top: 0;
}


/* stars */
.stars {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}

.wf1 .stars {
    padding: 0 0 6px 6px;
}

div .star-option {
    padding-top: 5px;
}

.star-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.star-display {
    font-size: .75rem;
    color: var(--text-color);
    display: block;
    transition: 1s;
}

.star-option {
    text-align: center;
}

.star-option input[type="radio"] {
    margin: 0;
    transform: scale(1.6);
}

.wf1 input[type="checkbox"] {
    transform: scale(1.6);
    margin-top: 10px;
}



/*=== FOOTER ===*/
footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: .5rem 2%;
    text-align: center;
    margin-top: 1rem;
    font-size: .8rem;
    transition: 1s;
}