@media screen and (min-width: 700px) {
    header h1 {
        font-size: 2rem;
        transition: 1s;
    }

    footer {
        font-size: .9rem;
        transition: 1s;
    }

    .star-display {
        font-size: 1rem;
        color: var(--text-color);
        transition: 1s;
    }
}