@media screen and (min-width: 520px) and (max-width: 739px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 740px) {
    header span {
        font-size: 2rem;
    }

    body {
        font-family: "Roboto", sans-serif;
    }

    main {
        max-width: 1080px;
        margin: 0 auto;
    }

    #menu {
        display: none;
        color: white;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #034748;
        padding: 0 1rem;
        align-items: center;
    }

    nav {
        display: flex;
        padding: 1rem;
    }

    .navigation {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        background-color: #034748;
        color: #fff;
    }

    .navigation li a {
        flex: 1 1 auto;
    }

    .navigation a {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .navigation a:hover {
        text-decoration: underline;
        text-decoration-color: #fff;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        grid-column: 1 / 4;
        text-align: center;
    }


}